{% extends "adm/layout.html" %}

{% block body %}

    </br>
    </br>
    <h1>Deletar</h1>
    </br>
    </br>
    <form method="POST" action="/deletar_usuarios">
    <div class="form-row">
        <div class="col">
                <select name="posicao" class="form-control" required>
                    <option value="">Posicao</option>
                    <option value="admin">Administrador</option>
                    <option value="func">Funcionario</option>
                </select>
        </div>
        <div class="col">
          <div class="col-10">
            <input class="form-control" type="number" id="example-number-input" name="id" placeholder="ID">
          </div>
        </div>
    </div>
    </br>
    {% if mensagem == "negado" %}
        <div class="alert alert-danger" role="alert">
            <strong>ERRO: </strong> ID invalido!
        </div>
    {% endif %}
    {% if mensagem == "sucesso" %}
        <div class="alert alert-success" role="alert">
            ID deletado com sucesso!
        </div>
    {% endif %}
    <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Deletar</button>
    </form>
    
    


{% endblock %}



